<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test git</title>
</head>
<body>
    <h1>Angola No coração</h1>
    <h1>Viva!!</h1>

    {{user}}
     {{data}}
    <div>
        <form action="" method="post">
            <input type="text" placeholder="Nome de Usuario" name="user" id="">
            <input type="password" placeholder="Password" name="senha" id="">            
            <button name="magicword" value="registrar" >Fazer Registro</button>
            <hr>
        </form>
    </div>
</body>
</html>
